
default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: rooms_development



production:
  <<: *default
  database: rooms_production
  username: rooms
  password: <%= ENV['ROOMS_DATABASE_PASSWORD'] %>
